h1,
p {
  font-family: Calibri;
}

h1,
p {
  font-family: Calibri;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient( rgb(255, 255, 0) 0%, rgb(255, 0, 0) 50%, rgb(255, 255, 0) 100%);
}
body{
  height: 100vh;
  backg round: linear-gradient(
    to top,
    rgb(255, 0, 0) 0%,
    rgb(255, 255, 0) 50%,
    rgb(255, 255, 0) 50%,
    rgb(0, 125, 255) 100%
  );

}

button {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: rgb(0, 0, 0);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: pointer;
  background-color: transparent;
  box-sizing: border-box;
  margin: 0em;
  font: 400 17px Calibri;
  padding: 1px 7px 2px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-image: initial;
}

.center{
  position: absolute;
  top:50%;

}
button{
  border: line;
  background-color: black;
  font-weight: bold;
  font-size: 16px;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  animation:animate 2s linear infinite;
}

